@use '@/styles/colors';

.container {
  width: 55%;
  margin: 135px auto;
  margin-bottom: 25px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -30px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.metaMobile {
  display: none;
}
.description {
  margin-block-start: 0px;
}

.iconLinks {
  display: flex;
  gap: 15px;

  svg {
    font-size: 20px;
    color: colors.$text-dark;

    &:hover {
      color: colors.$primary;
    }
  }
}

.image {
  width: 100%;
}

@media (max-width: 572px) {
  .container {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }

  .titleContainer {
    margin-bottom: -10px;
  }

  .meta {
    position: relative;
    display: none;
  }

  .metaMobile {
    display: flex;
    align-items: baseline;
    gap: 15px;
  }

  .titleContainer {
    display: block;
    text-align: center;
  }

  .iconLinks {
    justify-content: center;
    margin-bottom: 20px;
  }

  .image {
    height: 200px;
  }
}
