@use '@/styles/colors';

.header {
  color: colors.$text-dark;
  font-size: 20px;
  font-family: var(--font-inter);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 25px;
}
