@use '@/styles/colors';

.marquee {
  width: 100%;
  overflow: hidden;
  background: transparent;
  border-top: 1px solid colors.$border-light;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
  justify-content: center;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logo {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0 40px;
  white-space: nowrap;
  font-size: 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
