@use '@/styles/mixins';
@use '@/styles/colors';

.container {
  background-color: colors.$secondary;

  @include mixins.section_padding();
  & h2,
  p {
    text-align: center;
    color: colors.$bg-light;
  }
}
.cards {
  @include mixins.flex-justify-wrap(center, space-between, wrap);
}
