@use '@/styles/colors';
@use '@/styles/mixins';

.modalBackdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 90vh;
  padding: 10px 20px;
  width: 50%;
  background: colors.$bg-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    margin-block-end: 0;
  }

  p {
    margin-block-start: 5px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid colors.$border;
}

.closeButton {
  background: none;
  border: none;
  color: colors.$text-dark;
  font-size: 40px;
  cursor: pointer;
}

.modalContent {
  margin-top: 15px;
  overflow-y: auto;
  flex: 1;

  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
  }
}

@media (max-width: 572px) {
  .modal {
    width: 90%;
  }
}
