@use '@/styles/colors';

.label {
  font-family: var(--font-inter);
  color: colors.$text-dark;
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
}

.field {
  box-shadow: none;
  font-family: var(--font-inter);
  background: #fff;
  width: 100%;
  padding: 15px;
  color: colors.$text-dark;
  border: 1px solid colors.$border;
  margin-bottom: 30px;
}

select.field {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9l6 6 6-6' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 40px;
}

.field::placeholder {
  font-family: var(--font-inter);
}

.field:focus {
  box-shadow: none;
  border-color: colors.$primary;
}
