@use '@/styles/mixins';
@use '@/styles/colors';

.container {
  @include mixins.section_padding();

  background: linear-gradient(
    to bottom,
    rgba(37, 99, 235, 0.12) 0%,
    rgba(37, 99, 235, 0.06) 30%,
    rgba(37, 99, 235, 0.02) 55%,
    transparent 75%
  );
  padding-bottom: 84px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
