@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  @include section_padding();
  background: $primary;
}

.cards {
  @include flex-justify-wrap(center, none, wrap);
  gap: 25px;
}
