@use '@/styles/colors';
@use '@/styles/mixins';

.modalBackdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 90vh;
  padding: 10px 20px;
  width: 50%;
  background: colors.$bg-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  text-align: center;
  h2 {
    margin-block-end: 13px;
  }

  p {
    margin-block-start: 5px;
    margin-bottom: 15px;
  }
}

.closeButton {
  @include mixins.margin();
  text-align: center;
  background: colors.$primary-light;
  color: colors.$bg-light;
  font-family: var(--font-inter);
  padding: 10px 25px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 15px;
}
