@use '@/styles/mixins';
@use '@/styles/colors';

.container {
  @include mixins.section_padding();
  background: colors.$bg-light;
}

.submitButton {
  @include mixins.margin();
  text-align: center;
  background: colors.$primary-light;
  color: colors.$bg-light;
  font-family: var(--font-inter);
  padding: 10px 25px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.select {
  & option:disabled {
    color: #666;
  }
}
