@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  @include section_padding();
  background: $bg-light;
}

.submitButton {
  @include margin();
  text-align: center;
  background: $primary-light;
  color: $bg-light;
  font-family: var(--font-inter);
  padding: 10px 25px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.select {
  & option:disabled {
    color: #666;
  }
}
