@use '@/styles/colors';

.carousel {
  position: relative;
  width: 100%;
  background: colors.$bg-light;
}

.content {
  padding: 40px 1rem 24px;
}

.track {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.progress {
  height: 2px;
  background: rgba(colors.$text-muted-light, 0.4);
  border-radius: 999px;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;

  span {
    display: block;
    height: 100%;
    background: colors.$primary;
    transition: width 0.4s ease;
  }
}

.card {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.imageWrap {
  position: relative;
  width: 100%;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}

.linkContainer {
  margin-top: 24px;
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12em;
  color: colors.$text-dark;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}

.left {
  left: 8px;
}

.right {
  right: 8px;
}
