@use '@/styles/variables' as *;

.carousel {
  position: relative;
  width: 100%;
  background: $bg-light;
}

.track {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 40px 1em;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.imageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.linkContainer {
  margin-top: 24px;
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: $text-dark;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}

.left {
  left: 8px;
}

.right {
  right: 8px;
}
