@use '@/styles/colors';
@use '@/styles/mixins';

.container {
  height: calc(100vh);
  background: colors.$primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  & h1 {
    color: colors.$bg-light;
    padding-bottom: 6px;
    font-weight: 500;
    margin-block-end: 0px;
  }
  h3 {
    color: colors.$bg-light;
  }
  & p {
    color: colors.$bg-light;
    padding-bottom: 10px;
  }
}

.tagline {
  font-family: var(--font-inter);
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0.04em;

  border: 1px solid rgba(255, 255, 255, 0.15);

  code {
    background: none;
  }
}

.info {
  padding: 0 64px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    & h1 {
      font-size: 60px;
    }
    & a {
      display: block;
      width: 100%;
    }
  }

  .info {
    padding: 15px;
    text-align: center;
  }
}
