@use '@/styles/mixins';

.container {
  &__link {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
  }
}

.description {
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}
