@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  background: $primary;
  padding: 10px 64px;
  @include flex-justify-wrap(space-between, center, nowrap);
  font-family: var(--font-inter);
  color: $bg-light;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &__panel {
    text-decoration: none;
    color: $bg-light;
    &:hover {
      color: $bg-light;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: $bg-light;
}

@media (max-width: 576px) {
  .footer {
    padding: 15px;
    text-align: center;
    display: block;
  }
}
