@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  width: 50%;
  margin: 135px auto;
  margin-bottom: 25px;
}

.titleContainer {
  h2 {
    margin-block-end: 0;
  }

  p {
    margin-block-start: 5px;
  }
}

.formContainer {
  margin-top: 20px;
}

@media (max-width: 572px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
