@use '@/styles/colors';

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    svg {
      font-size: 20px;
      color: colors.$text-dark;
    }
  }
}
