@use '@/styles/colors';
@use '@/styles/mixins';

.container {
  @include mixins.section_padding();
  padding-top: 0;
  background: colors.$primary;
  & h2 {
    color: colors.$bg-light;
    font-family: var(--font-inter);
    font-family: 500;
    margin: 0;
  }
  & h1 {
    color: colors.$bg-light;
    font-family: var(--font-poppins);
    font-size: 75px;
    font-weight: 700;
    text-shadow:
      7-1px 0 colors.$accent,
      0 1px colors.$accent,
      1px 0 colors.$accent,
      0 -1px colors.$accent;
    margin: 60px 0;
  }
  & ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
  & strong p {
    margin: 25px 0;
  }
}

.description {
  color: colors.$bg-light;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 572px) {
  .container {
    padding-top: 64px;
    & h1 {
      font-size: 55px;
    }
    &__buttons a {
      display: block;
      margin-top: 15px;
    }
  }
}
